.imageWrapper {
  overflow: hidden;
}

.userWrapper {
  display: flex;
  gap: 10px;
  align-items: end;
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .imageWrapper {
    position: relative;
  }

  .imageWrapper:hover {
    cursor: pointer;
    & .userWrapper {
      opacity: 1;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5)
      );
    }
  }
  .userWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: white;
    opacity: 0;
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
