.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.infoWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info {
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 8px;
}

.info > span {
  font-weight: semibold;
  color: grey;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tagItem {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .infoWrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .info {
    font-size: 20px;
  }
  .image {
    width: 50%;
  }
  .imagePosition {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .info {
    font-size: 24px;
  }
  .image {
    min-width: 800px;
  }

  .imagePosition {
    gap: 60px;
  }
}
