*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.not_found_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.not_found_title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}
.not_found_link {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.my-masonry-grid {
  display: flex;
  gap: 24px;
  width: auto;
}

.my-masonry-grid_column > div {
  margin-bottom: 40px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.image {
  width: 100%;
  height: 100%;
}

.buttonStyle {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.linkStyle {
  display: inline-block;
}
.buttonStyle,
.linkStyle {
  border: none;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.buttonStyle:hover,
.buttonStyle:focus,
.linkStyle:hover,
.linkStyle:focus {
  background-color: #e0e0e0;
}
.section {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 768px) and (min-width: 1024px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .section {
    padding-top: 140px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 40px;
  }
  .buttonStyle {
    font-size: 20px;
    padding: 6px 30px;
  }
}
