*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a:not([class]) {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.my-masonry-grid {
  display: flex;
  gap: 24px;
  width: auto;
}

.my-masonry-grid_column > div {
  margin-bottom: 40px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.image {
  width: 100%;
  height: 100%;
}
.buttonStyle {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.buttonStyle:hover,
.buttonStyle:focus {
  background-color: #e0e0e0;
}
